target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
*.class
*.log
.classpath
.project
.settings/
.sts4-cache/
bin/
help.md
.vscode/
.idea/
*.iml
.env
application-dev.properties
src/main/resources/application-dev.properties
